@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.priceBox {
  @apply border border-yellow-500 mt-10 mb-20 p-6 hover:bg-[#D9D9D9]/[.2] flex flex-col items-center justify-center;
}

.yellowButton {
  @apply sticky bg-yellow-500 border border-yellow-500 text-white py-4 px-8 font-bold hover:bg-gray-100 transition-colors duration-300 ease-in-out hover:text-yellow-500;
}

.priceTitle {
  @apply text-center text-xl font-bold tracking-wide text-white pb-6 pt-3;
}
.priceText {
  @apply text-center text-lg font-thin tracking-wide text-white pb-6;
}

.imgInGridHomePage {
  @apply h-20 w-auto object-contain;
}
.imgGridDivStyling {
  @apply w-auto flex lg:justify-center;
}

.gridTextHomePage {
  @apply xl:pr-20;
}

.gridTitleHomePage {
  @apply text-xl font-bold tracking-wide text-white pb-1;
}
