@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.defaultSpacing {
  @apply px-3  md:px-10 lg:px-20;
}

.backGround {
  @apply bg-gradient-to-tr from-black via-black to-[#614944];
}

/* //homePageStyling */
.priceBox {
  @apply border border-yellow-500 mt-10 mb-20 p-6 hover:bg-[#D9D9D9]/[.2] flex flex-col items-center justify-center;
}

.yellowButton {
  @apply sticky bg-yellow-500 border border-yellow-500 text-white py-4 px-8 font-bold hover:bg-gray-100 transition-colors duration-300 ease-in-out hover:text-yellow-500;
}

.priceTitle {
  @apply text-center text-xl font-bold tracking-wide text-white pb-6 pt-3;
}
.priceText {
  @apply text-center text-lg font-thin tracking-wide text-white pb-6;
}

.imgInGridHomePage {
  @apply h-20 w-auto object-contain;
}
.imgGridDivStyling {
  @apply w-auto flex lg:justify-center;
}

.gridTextHomePage {
  @apply xl:pr-20;
}

.gridTitleHomePage {
  @apply text-xl font-bold tracking-wide text-white pb-1;
}

.transparentButton {
  @apply bg-transparent border border-yellow-500  py-4 px-8  hover:bg-gray-100 transition-colors duration-300 ease-in-out hover:text-yellow-500;
}
/* //homePageStyling */

/* contactUsPage */
.contactUsform {
  @apply border border-yellow-500 bg-transparent  py-4 px-3  mt-5 mb-5  hover:bg-[#D9D9D9]/[.2]  items-center justify-center;
}

.contactUsDivs {
  @apply flex mb-6;
}

.contactUsText {
  @apply font-thin hover:text-yellow-500;
}

.contactUsIcons {
  @apply h-20 w-auto object-contain mr-2;
}
/* contactUsPage */

/* blog */

.latestBlog {
  @apply absolute flex justify-between
   p-2 md:p-6 bottom-0 left-0 w-full h-1/6 bg-black bg-opacity-50 hover:bg-yellow-500 hover:bg-opacity-50  text-white hover:text-black lg:font-bold md:text-xl text-sm;
}

.otherBlog {
  @apply absolute p-2 lg:p-4  bottom-0 left-0  w-full h-1/6 bg-black bg-opacity-50 hover:bg-yellow-500 hover:bg-opacity-50  text-white hover:text-black lg:font-bold  sm:text-lg md:text-xl text-sm;
}
/* blog */

/* price */

.tableHeader {
  @apply px-2  py-6 w-1/6;
}
.priceText {
  @apply text-center;
}

.featuresColText {
  @apply text-left;
}

.priceTableCol {
  @apply border-l-2 border-r-2 border-yellow-500;
}

.headersInfo {
  @apply font-bold;
}

.transparentButtonPricePage {
  @apply bg-transparent border border-yellow-500 py-1 px-2 md:py-4 md:px-8  hover:bg-gray-100 transition-colors duration-300 ease-in-out hover:text-yellow-500;
}

.colSpacing {
  @apply p-5;
}
/* price */

/* arenas */

.borderBox {
  @apply border border-yellow-500 mt-10 mb-20 p-6;
}
/* arenas */
